.emotion-gauge {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px; /* アイコンとゲージの間隔 */
}

.icon {
  color: #000; /* アイコンの色 */
}

.heart-icon {
  color: red; /* 上のHeartアイコンの色 */
}

.heart-crack-icon {
  color: blue; /* 下のHeartCrackアイコンの色 */
}

.gauge {
  position: relative;
  background-color: #f0f0f0; /* ゲージの背景色 */
  border: 1px solid #838383; /* ゲージの枠線 */
  border-radius: 10px; /* ゲージの角丸 */
  overflow: hidden;
}

.gauge-red {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgb(255, 203, 203); /* 赤い部分 */
  transition: height 0.3s ease; /* スムーズな変化 */
}

.gauge-blue {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #3b82f6; /* 青い部分 */
  transition: height 0.3s ease; /* スムーズな変化 */
}

.gauge-divider {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px; /* 境界線の太さ */
  background-color: rgb(233, 233, 233); /* 境界線の色 */
  transition: bottom 0.3s ease; /* スムーズに移動 */
}