.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 100vw;
    box-sizing: border-box;
    height: 100vh;
    overflow: hidden;
  }
  
  .title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  